<form>
    <div class="form-group my-2">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Title">
    </div>
    <div class="form-group my-2">
      <label for="exampleInputPassword1">Author Name</label>
      <input type="text" class="form-control" placeholder="Enter Author Name">
    </div>
    <div class="form-group my-2">
        <label for="exampleInputPassword1">Publish Year</label>
        <input type="number" class="form-control" placeholder="Enter Publish Year">
      </div>
      <div class="form-group my-2">
        <label for="exampleInputPassword1">Genre</label>
        <input type="text" class="form-control" placeholder="Enter Genre">
      </div>
      <div class="form-group my-2">
        <label for="exampleInputPassword1">Language</label>
        <input type="text" class="form-control" placeholder="Enter Language">
      </div>
      <div class="form-group my-2">
        <label for="exampleInputPassword1">Image</label>
        <input type="url" class="form-control" placeholder="Enter Image Url">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Subject</label>
        <textarea class="form-control" rows="4"></textarea>
      </div>
      
    <div class="form-group form-check my-2">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I confirm that the book information is entered correctly</label>
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
  </form>