<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author Name</th>
        <th scope="col">Borrow Date</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i= index" >
        <th scope="row">{{i+1}}</th>
        <td>{{book.Title}}</td>
        <td>{{book.AuthorName}}</td>
        <td>{{expDate}}</td>
        <button class="btn btn-info my-1" (click)="openDetail(book.Id)">Show Details</button>
        <button id="borrowButton" class="btn  bs-btn-color-success btn-success mx-2 my-1  " type="submit"  (click)="addBorrow(book.Id)">Borrow</button>
      </tr>
    </tbody>
  </table>
