<div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author Name</th>
        <th scope="col">Borrow Date</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i= index" >
        <th scope="row">{{i+1}}</th>
        <td>{{book.Book.Title}}</td>
        <td>{{book.Book.AuthorName}}</td>
        <div class=" w-100 d-flex">
          <button class="btn btn-info my-1" (click)="openDetail(book.Id)">Show Details</button>
          <button id="borrowButton" class="btn  bs-btn-color-success btn-success mx-2 my-1  " type="submit"  (click)="addBorrow(book.Id)">Borrow</button>
        </div>
      </tr>
    </tbody>
  </table>




</div>
