<div class="page" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
<div class="modal-body">
<h1 class="title">Title: xxxx</h1>
<h1 class="author"> Author: xxxx</h1>
<h1 class="publishYear">Publish Year: 1111</h1>
<h1 class="language">Language: English</h1>
<img class="cover" src="https://upload.wikimedia.org/wikipedia/tr/e/eb/Daftpunk_discovery.jpg">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
            </div>
        </div>
</div>



  
  