
<table class="table table-hover my-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author Name</th>
        <th scope="col">Publish Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Language</th>
        <th scope="col">Available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i= index" >
        <th scope="row">{{i+1}}</th>
        <td>{{book.Title}}</td>
        <td>{{book.AuthorName}}</td>
        <td>{{book.PublishYear}}</td>
        <td>{{book.Genre}}</td>
        <td>{{book.Language}}</td>
        <td *ngIf="book.IsBorrowed; else elseBlock"> <span style="color: red;"> NO </span>  </td>
        <ng-template #elseBlock><td > <span style="color: rgb(10, 194, 10);"> YES </span>  </td>  </ng-template>
        <div class=" w-100 d-flex flex-xl-row flex-sm-column ">
          <button type="button" (click)="openDetail(book.Id)" class="btn btn-info my-1 mx-2">Show Details</button>
          <button class="btn btn-success" type="submit" (click)="addBorrow(book.Id)" [disabled]="book.IsBorrowed">Borrow</button>
        </div>
      </tr>
    </tbody>
  </table>
