<div  class=" container row">
  <div *ngIf="specificBook && specificBook.ImageUrl" class="col-6 my-3">
    <img src="{{specificBook.ImageUrl}}" alt="" style="width: 100% ; height: auto; object-fit: contain;">
  </div>
  <div class="col-6 my-3">
    <table *ngIf="specificBook">
      <tr>
        <th>Title:</th>
        <td>{{specificBook.Title}}</td>
      </tr>
      <tr>
        <th>Author: </th>
        <td>{{specificBook.AuthorName}}</td>
      </tr>
      <tr>
        <th>Year: </th>
        <td>{{specificBook.PublishYear}}</td>
      </tr>
      <tr>
        <th>Genre: </th>
        <td>{{specificBook.Genre}}</td>
      </tr>
      <tr>
        <th>Language: </th>
      
          <td>{{specificBook.Language}}</td>
       
        
      </tr>
     
     
        <th>Subject: </th>
        <div class="my-4">
          <td>{{specificBook.Subject}}</td>
        </div>
     
      
    </table>
  </div>
  
</div>