::ng-deep .mat-dialog-container{

  background: #c7c9cf;
  width: 1100px;
  height: 820px;
  object-fit: contain;

}

#header{

width: 142px;
height: 235px;
left: 419px;
top: 52px;

}

#xxx{

width: 421;
height: 576;


}
th{

  font-size: 16px;
}

td{

padding-left: 20px;

}
