<div>
    <table class="table">
        <tbody>
            <tr *ngFor="let book of borrowedBooks; let i= index" >
                <td>{{book.AuthorName}}</td>
                <td>{{book.Title}}</td>
                <td>{{book.PublishYear}}</td>
                <td>{{book.Genre}}</td>
                <td>{{book.Language}}</td>
            </tr>
        </tbody>
      </table>
      <img src="https://kbimages1-a.akamaihd.net/f54c3cdb-28af-41e0-b439-f44ad8872125/353/569/90/False/olaganustu-bir-gece-4.jpg" alt="">
    </div>