<div class="text-center my-5">
    <img src="https://i.ibb.co/bJJyndY/Book-icon-bible-removebg-preview.png" style="width: 250px;" alt="logo">
    <h2 id="mainHeader" class=" mb-5 pb-1 display-3" style="color:#4283e5;">WELCOME TO ADMIN PAGE</h2>
</div>
<div class="text-center">
    <button (click)="addBook()" class="mx-auto btn btn-warning" style="width: 180px; height: 50px;">ADD NEW BOOKS</button>
</div>
<div class="text-center my-3">
    <button (click)="showBookList()" class="mx-auto btn btn-warning" style="width: 180px; height: 50px;">SHOW BOOK LIST</button>
</div>