<div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author Name</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of borrowedBooks; let i= index" >
        <th scope="row">{{i+1}}</th>
        <td>{{book.Title}}</td>
        <td>{{book.AuthorName}}</td>
        <td>{{dateelement[i]}}</td>
        <div class=" w-100 d-flex">
        <button type="button" (click)="openDetail(book.Id)" class="btn btn-info my-1 mx-2">Show Details</button>
        <button id= "returnButton" type="delete" (click)="deleteBorrowedBook(book.Id)" class="btn mx-2 my-1 ">Return</button>
        </div>
      </tr>
    </tbody>
  </table>
</div>