
<table class="table table-hover my-3" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Email</th>
        <th scope="col">Borrowed Book</th>
        <th scope="col">AuthorName</th>
        <th scope="col">Borrow Date</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of borrowList | paginate: {itemsPerPage: 10, currentPage: p}; let i = index " >
        <th scope="row">{{i + 1}}</th>
       <td>{{element.User.Email}}</td>
        <td>{{element.Book.Title}}</td>
        <td>{{element.Book.AuthorName}}</td>
      
        <td  *ngIf="dateelement[i]>todaysDate+7; else elseBlock" ><span style="background-color:  #eebde0;">  {{dateelement[i]}}</span> <button class="btn btn-success " type="submit">Send Email</button> </td> 
        <ng-template #elseBlock><td> <span style="background-color: rgb(173, 233, 173);">  {{dateelement[i]}} </span> </td> 
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div  style="float: right; margin-right: 55px;" >
    <pagination-controls  (pageChange)="p = $event"></pagination-controls>
  </div>
  
 

