<div  class="container align-self-center container-props " style="width: 100% ; height: auto; object-fit: contain;">
    <div class="row my-auto" style="padding-left: 10px ;">
        <div class="col-6 my-auto">
            <div style>
                <div class="label header" style="width: 100% ; height: auto; object-fit: contain;">LIBRARY</div>
            <label style="width: 30% ; height: auto; object-fit: contain;">EMAIL</label>
            <input type="text" id="email" name="email">
            <label style="width: 30% ; height: auto; object-fit: contain;">PASSWORD</label>
            <input type="password" id="password" name="password">
  
                 <button class="btn" type="submit"(click)= "signIn()" >SIGN IN</button>
                </div>
         
        </div>
        <div class="col-6 d-none d-md-block" >
            <div style="width: 100% ; height: auto; object-fit: contain;">
                <a><img style="width: 100% ; height: auto; object-fit: contain;" src="https://i.ibb.co/bJJyndY/Book-icon-bible-removebg-preview.png" alt="Book-icon-bible-removebg-preview"/></a>
            </div>
            
        </div>

    </div>
    
   
</div>
