<div class="container align-self-center container-props ">
    <div class="row my-auto ">
        <div class="col-3 mx-auto my-auto">
            <div class="label header">LIBRARY</div>
            <label >EMAIL</label>
            <input type="text" id="email" name="email">
            <label>PASSWORD</label>
            <input type="text" id="password" name="password">

           
                 <button class="btn" type="submit"(click)= "signIn()">SIGN IN</button>
         
       
        </div>
        <div class="col-6 ">
            <div>
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/bJJyndY/Book-icon-bible-removebg-preview.png" alt="Book-icon-bible-removebg-preview"/></a>
            </div>
            
        </div>

    </div>
    
   
</div>