<div class="container">
<form>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Author Name</label>
        <input class="form-control" type="text" id="authorName">
      </div>
      <div class="form-group col-md-6">
        <label>Publish Year</label>
        <input class="form-control" type="text" id="publishYear">
      </div>
    </div>
    <div class="row ">
      <div class="form-group col-md-6">
        <label>Genre</label>
        
        <input class="form-control" type="text" id="genre">
      
      </div>
      <div class="form-group col-md-6">
        <label>Language</label>      
          <input class="form-control" type="text" id="language">
      </div>
    </div>
    <div>
      <button class="btn btn-primary my-2 " style="float:right" (click)= "clear()">Clear</button>
      <button type="submit" class="btn btn-primary my-2 mx-2" style="float:right" (click)="filter()">Apply</button>
  </div>
  </form>
</div>