.filterButton {
    font-size: 16px;
    line-height: 16px;
    height: 3px;
    overflow: hidden;
  }
#filterButton
{
  background-color: #90d4e2;
}
#closeButton{
  background-color: #fbe86d;
}
  
  .show {
    overflow: visible;
    height: 150px;
  }

  label{
    margin-top:10px;
    margin-bottom: 10px;
  }